/node_modules
/storage/*.key
/storage/api-docs
/vendor
/client
/logs
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
*.log
supervisord.pid
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?